.quiz-container{
    text-decoration: none;
    margin: 50px auto;
    text-align: center;
    font-size: 16px;
    width: 25vw;
    padding-top: 20px;
}

#left {
    display: flex;
    float: left;
    padding: 0 30px;
}

#right {
    display: flex;
    float: right;
    padding: 0 100px;
}

button {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   }

.hide {
    display: none;
}

#start{
    display: inline;
    justify-content: center;
}
